---
import { ACTIONS } from '../types'

interface Props {
    title: string
    content: string | null
    id: string
    order: number
    columnId: string
    boardId: number
}

const { title, content, id, boardId } = Astro.props
---

<li
    data-item-id={id}
    id={`card-${id}`}
    class='item-card border-t-2 border-b-2 -mb-[2px] last:mb-0 cursor-grab active:cursor-grabbing px-2 py-1'
>
    <div
        class='bg-white shadow shadow-slate-300 border-slate-300 text-sm rounded-lg w-full py-1 px-2 relative'
    >
        <h3>{title}</h3>
        <div class='mt-2'>{content || <>&nbsp;</>}</div>
        <form
            hx-post={`/board/${boardId}`}
            hx-target='closest .item-card'
            hx-indicator='closest .item-card'
            hx-swap='delete'
        >
            <input type='hidden' name='action' value={ACTIONS.deleteItem} />
            <input type='hidden' name='itemId' value={id} />
            <button
                aria-label='Delete card'
                class='absolute top-4 right-4 hover:text-brand-red'
                type='submit'
            >
                ❌
            </button>
        </form>
    </div>
</li>
<style>
    .item-card.htmx-request {
        display: none !important;
    }
</style>
