---
import type { RenderedItem } from '../types'
import Card from './Card.astro'
import EditableColumnTitle from './EditableColumnTitle.astro'
import NewCard from './NewCard.astro'

interface Props {
    boardId: number
    column: {
        id: string
        name: string
    }
    items: RenderedItem[]
}

const { boardId, column, items } = Astro.props
---

<div
    class='flex-shrink-0 flex flex-col overflow-hidden max-h-full w-80 rounded-xl shadow-sm shadow-slate-400 bg-slate-100 the-col'
>
    <div class='p-2'>
        <EditableColumnTitle
            {boardId}
            columnId={column.id}
            name={column.name}
        />

        <ul
            class='flex-grow overflow-auto sortable'
            id={`column-${column.id}`}
            data-column-id={column.id}
        >
            {
                items
                    .sort((a, b) => a.order - b.order)
                    .map((item) => (
                        <Card
                            title={item.title}
                            content={item.content}
                            id={item.id}
                            order={item.order}
                            columnId={column.id}
                            {boardId}
                        />
                    ))
            }
        </ul>
        <NewCard columnId={column.id} {boardId} />
    </div>
</div>
